.body {
    -fx-background-color: #191414;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.body .title {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 34px;
    -fx-text-fill: #F0F0F0;
}

.forms {
    -fx-background-color: #20201D;
    -fx-background-radius: 20px;
    -fx-font-size: 16px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #3D3D3D;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-pref-width: 200px;
}

.text-field:hover {
    -fx-border-color: #00A6FB;
    -fx-border-radius: 20px;
}

.text-field:focused {
    -fx-border-color: #00A6FB;
    -fx-border-radius: 20px;
}

.button {
     -fx-background-color: #00A6FB;
     -fx-font-family: "Roboto", sans-serif;
     -fx-font-size: 14px;
     -fx-text-fill: #F0F0F0;
     -fx-font-weight: bold;
     -fx-background-radius: 15;
     -fx-pref-width: 200px;
}

.button:hover {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #00A6FB;
}

.button:pressed {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #191414;
}

.link {
    -fx-font-size: 16px;
    -fx-text-fill: #00A6FB;
    -fx-underline: false;
}

.link:hover {
    -fx-text-fill: #F0F0F0;
    -fx-cursor: hand;
}

/*STYLES FOR THE MENU*/

.splitPane {
    -fx-background-color: #191414;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #20201D;
    -fx-padding: 5px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 1px;
}

.topLeftContent {
    -fx-background-color: #20201D;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.leftContent {
    -fx-background-color: #20201D;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bold;
}

.btnTopLeftContent {
    -fx-background-color: #20201D;
    -fx-alignment: baseline-left;
}

.btnTopLeftContent:hover {
    -fx-background-color: #20201D;
    -fx-text-fill: #00A6FB;
}

.btnTopLeftContent:pressed {
    -fx-text-fill: #191414;
}

/*STYLES FOR THE ADMIN MENU*/

.menuTitle {
    -fx-font-size: 18px;
    -fx-text-fill: #00A6FB;
    -fx-font-weight: bold;
}